@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --border: 1px solid #dce1e4;
  --gradient: linear-gradient(-45deg, #f97316, #f43f5e);
  --box-shadow: 5px 5px 15px #c1c8d3, -5px -5px 15px #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #dce1e4;
  font-size: 20px;
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

header {
  padding: 10px;
  border-bottom: var(--border);
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #dce1e4;
}

header .logo img {
  height: 90px;
}

header ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: 4s;
}

header ul li {
  padding: 10px 25px;
}
#active {
  border-radius: 10px;
  background: linear-gradient(90deg, #f97316, #f43f5e);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 150px auto 0;
}

.banner {
  display: grid;
  grid-template-columns: 60% 40%;
  border-bottom: var(--border);
  padding-bottom: 50px;
}
.banner .content {
  text-align: justify;
  padding-right: 50px;
}

.banner .content h1 {
  font-size: 4.5em;
  margin: 0;
}

.gradientText {
  display: inline-block;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.job::before {
  content: attr(data-job1);
  overflow: hidden;
  display: inline-flex;
  animation:
    effectText 1s linear infinite alternate,
    changeText 6s linear infinite;
}

@keyframes effectText {
  from {
    max-width: 0;
  }
  to {
    max-width: 500px;
  }
}

@keyframes changeText {
  0% {
    content: attr(data-job1);
  }
  5% {
    content: attr(data-job2);
  }
  60% {
    content: attr(data-job3);
  }
  80% {
    content: attr(data-job1);
  }
  100% {
    content: attr(data-job1);
  } /* boucle claire */
}

.find {
  margin-top: 50px;
}

.find ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.find ul li {
  width: 50px;
  height: 50px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}

.find ul li:hover {
  color: #fff;
  background-image: var(--gradient);
}

.banner .picture img {
  width: 90%;
}
.banner .picture {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

.banner .picture::before {
  position: absolute;
  width: 90%;
  height: 80%;
  box-shadow: var(--box-shadow);
  content: "";
  bottom: 0;
  z-index: -1;
  border-radius: 10px;
}

.title {
  text-align: center;
  padding-top: 100px;

  font-size: 2.5em;
  font-weight: bold;
}

.listStats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 50px;
  border-bottom: var(--border);
  margin-top: 50px;
}

.listStats .evaluate {
  position: relative;
  width: 100%;
  height: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 50px;
  margin-top: 20px;
}

.listStats .evaluate::before {
  position: absolute;
  content: "";
  height: 100%;
  width: var(--point);
  border-radius: 25px;
  background-image: var(--gradient);
}

.ListPlats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-bottom: var(--border);
  padding-bottom: 50px;
  margin-top: 50px;
}

.ListPlats .item {
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
}

.ListPlats .item .price {
  margin-top: 10px;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bolder;
}

.ListPlats .item img {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.ListPlats .item img:hover {
  transform: scale(1.1);
}

.ListPlats .name {
  margin-top: 8px;
}

.contactInfo {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactInfo li {
  font-size: 1.2em;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header input,
header .nav-bi,
header ul label {
  display: none;
}

/*DESIGN RESPONSIVE*/

@media screen and (max-width: 1024px) {
  .banner .content h1 {
    font-size: 2em;
  }
  .ListPlats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  header ul {
    position: fixed;
    background-color: #dce1e4;
    width: 70%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 70px);
    margin: 0;
    transform: translateX(-100%);
    transition: 0.5s;
  }
  header .nav-bi {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  header label {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input#menu-bar:checked ~ .nav-link {
    transform: translateX(0);
  }
  header .nav-link label {
    display: flex;
    transform: translateX(20px);
  }
  .banner {
    grid-template-columns: 1fr;
  }
  .banner .content {
    padding-right: 0;
  }
  .banner .picture {
    grid-row-start: 1;
  }
  .listStats,
  .ListPlats {
    grid-template-columns: 1fr;
  }
}

#autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
